@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(246, 246, 246);
}
.container1{
    margin: 50px auto;
    width: 1000px;
    height: 360px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    gap: 20px;
    padding: 80px 50px;
}
.container1 h4{
    color: rgba(14, 14, 14, 0.5);
font-family: Fira Sans;
font-size: 20px;
font-weight: 500;
}
.content1{
    padding: 20px 10px;
}
 .container1 h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 50px;
font-weight: 700;
}
.container1 button{
    border-radius: 5px;
    background: rgb(0, 106, 80);
    margin: 20px 0px;
    padding: 12px 19px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 400;
}
.container1 button:hover{
    background: rgb(3, 134, 101);

}

.container2{
    margin: auto;
    width: 1100px;
    height: 450px;
}
.boxes{
    display: flex;
    gap: 10px;
}
.box{
    height: 250px;
    width: 33%;
    border-radius: 13px;
    padding: 30px;
}
.container2 h1{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 30px;
font-weight: 700;
}
.container2 p{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
height: 50px;
font-weight: 400;
margin: 20px 0px;
}
.box1{
    background: rgba(84, 144, 245, 0.2);
}
.box1:hover{
    background: rgba(84, 144, 245, 0.2);
    box-shadow: 5px 5px 8px rgba(2, 27, 70, 0.2);
}
.box2{
    background: rgb(198, 228, 214);
}
.box2:hover{
    box-shadow: 5px 5px 7px rgba(2, 27, 70, 0.2);
}
.box3{
    background: rgb(247, 235, 207);
}
.box3:hover{
    box-shadow: 5px 5px 7px rgba(2, 27, 70, 0.2);
}
.container2 img{
    margin-bottom: 10px;
}
.container2 button{
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.container2 .box1 button{
    background: rgb(84, 144, 245)
}
.container2 .box1 button:hover{
    background: rgb(31, 109, 245)
}
.container2 .box2 button{
    background: rgb(9, 161, 92);
}
.container2 .box2 button:hover{
    background: rgb(0, 136, 75);
}
.container2 .box3 button{
    background: rgb(255, 194, 57);
}
.container2 .box3 button:hover{
    background: rgb(244, 173, 7);
}
.container3{
    margin: 30px auto;
    width: 1057px;
    height: 140px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 15px 24px 48px 24px;
}
.container3 img{
    position: absolute;
}
.container3 p{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 2px 5px 0px;
}
.container3 h1{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    margin-top: 8px;
}
.container3 h5{
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 400;
    padding-top: 3px;
}
.container4{
    margin: 30px auto;
    width: 1100px;
    height: 660px;
    display: flex;
    flex-direction: column;
}
.container4 h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 15px;
}
.container4 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.container4 .news1{
    border-radius: 9px;
    margin: 20px auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    width: 1040px;
    height: 250px;
    display: flex;
    gap: 20px;
}
.container4 img{
    border-radius: 15px !important;
    height: 250px;
    display: block;
    padding-bottom: 9px;
}
.alzazeera img{
    height: 30px;
}
.container4 time{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
}
.container4 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
}
.container4 button{
    padding: 8px 15px;
    border-radius: 5px;
    background: rgb(0, 106, 80);
    border: none;
    color: white;
    margin-top: 34px;
    cursor: pointer;
}
.container4 button:hover{
    background: rgb(6, 190, 144);

}
.container4 .news2{
    border-radius: 9px;
    margin: 10px auto;
    background: rgb(255, 255, 255);
    padding: 30px;
    width: 1040px;
    height: 250px;
    display: flex;
    gap: 20px;
}
.container5{
    width: 1100px;
    height: 660px;
}
.container5 h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 5px;
}
.container5 p{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 0px 20px;
}
.donation{
    display: flex;
    padding: 20px 110px;
    gap: 20px;
    justify-content: space-around;
}
.btn{
    width: 150px;
    height: 70px;
    border-radius: 9px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.btn:hover{
    background: rgb(26, 253, 147);
}
.donate2{
    background: rgb(198, 228, 214);
}
.donate2:hover{
    background: rgb(26, 253, 147);
}
.container5 input{
    text-align: center;
    padding: 15px 250px;
    margin: 0px 210px;
    background: rgb(255, 255, 255);
    display: block;
    border: none;
}
.inpt{
   text-align: center;
}
.container5 button{
    padding: 10px 20px;
}
